:root {
    --very-dark-gray: hsl(0, 0%, 17%);
    --dark-gray: hsl(0, 0%, 59%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Rubik', sans-serif;
    height: 100vh;
}
.container {
    position: relative;
}

.bg-img {
    background-image: url(./images/pattern-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 35vh;
}
.title {
    color: #fff;
    padding: 2rem 0rem;
    text-align: center;
}
.input-box {
    display: flex;
    justify-content: center;
}
.input-box input {
    padding: .80rem;
    width: 32%;
    color: var(--dark-gray);
    border: none;
    outline: none;
    border-bottom-left-radius: .60rem;
    border-top-left-radius: .60rem;
    cursor: pointer;
}
.input-box .arrow-bg {
    background: #000;
    width: 2.6rem;
    border-bottom-right-radius: .60rem;
    border-top-right-radius: .60rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .3s ease;
}
.input-box .arrow-bg:hover {
    background: var(--very-dark-gray);
}
.input-box .arrow-bg img {
    width: .55rem;
}

.info-box {
    position: absolute;
    top: 26%;
    right: 15%;
    height: 18%;
    width: 70%;
    background: #fff;
    padding: 1.2rem;
    border-radius: .80rem;
    display: flex;
    justify-content: space-around;
    z-index: 999;
}
.info-box div {
    flex-grow: 1;
}
.info-box span {
    color: var(--dark-gray);
    font-size: 1rem;
}
.info-box div p {
    margin-top: 1rem;
    font-size: 1.2rem;
}

.map {
    height: 65vh;
    width: 100%;
}
.icon-location {
    position: absolute;
    top: 50%;
    right: 50%;
}
.icon-location img {
    width: 2rem;
}

.attribution { 
    font-size: 11px; text-align: center;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
    text-align: center;
}